In [16]:
# Data Manipulation and Handling
import polars as pl
import pandas as pd
import numpy as np
import psycopg2

# DB Credentials
from dotenv import load_dotenv
import os

# Machine Learning Libraries
import torch
import xgboost as xgb
import lightgbm as lgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score, roc_curve

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Handling Imbalanced Data
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline as ImbPipeline

# Gradient Boosting Libraries
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# Model Lifecycle Management
import mlflow
import mlflow.sklearn

# Distributed Computing
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import RandomForestClassifier as SparkRFClassifier

# Model Interpretability
import shap

# Hyperparameter Optimization
import optuna

# Automated Feature Engineering
import featuretools as ft

%load_ext dotenv
%dotenv
BASE_DIR = '../SQL/'

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [17]:
def etl_query(query:str):
    connection = None
    cursor = None

    try:
        connection = psycopg2.connect(
            host=os.environ['host'],
            database=os.environ['database'],
            user=os.environ['user'],
            password=os.environ['password'],
            port=os.environ['port']
        )
        cursor = connection.cursor()
        cursor.execute(query)

        col_names = [desc[0] for desc in cursor.description]
        return pd.DataFrame(cursor.fetchall(), columns=col_names)

    except Exception as e:
        print(f"An unexpected error occurred: {e}")

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

def read_sql(name: str):
    with open(BASE_DIR + name + '.sql', 'r') as file:
        sql_query = file.read()

    return etl_query(sql_query)

In [135]:
merge_sql = 'merged_data'
chatgpt_sql_4o = 'chatGPT-model-4o'
chatgpt_sql_o1 = 'chatGPT-model-o1'
chatgpt_sql_o1_q1='chatGPT-model-o1-Q1'
df = read_sql(chatgpt_sql_o1)
df

                               user_id
0     002e4653171ddc61c3cd30603cd7bd3e
1     00384fa9be6fdca1b786bae70d78f88f
2     00440034cc4152bfb01b30f5c381c4e3
3     004aab1640f3a04b87b1f404fb4c018d
4     004ea9d7662aa8dc840bbff212cfa4b8
...                                ...
2532  ff8e6d549f1244d4ef7bbf41346170e5
2533  ff98cbc9633a9255a711d02ebc1e8294
2534  ffae713096867a32e74f633060667153
2535  ffbda9a14e07718e2b21fb03896d21c5
2536  ffc1e622f3a0b2666f09a6dcb7f27918

[2537 rows x 1 columns]